.wine-card {
  border-radius: 12px;
  background: #fff;
  overflow: visible; 
  margin-top: 60px;
  position: relative;
  padding-top: 70px;
}

.wine-img-floating {
  position: absolute;
  top: -120px; 
  left: 100px;
  transform: translateX(-50%);
  width: 100px; 
  height: 205px;
  z-index: 2;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 6px 0;
}

.valoraciones {
  font-size: 0.85rem;
  color: #555;
}

.precio {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin-top: 4px;
}